<config>
  <user value='{{ fah_user }}'/>
  <team value='{{ fah_team }}'/>
  <passkey value='{{ fah_passkey }}'/>
  <smp value='{{ fah_smp }}'/>
  <gpu value='{{ fah_gpu }}'/>
  <power v='full'/>
  <slot id='0' type='CPU'/>
</config>
