<config>
  <!-- Client Control -->
  <fold-anon v='true'/>

  <!-- Folding Slot Configuration -->
  <gpu v='{{ fah_gpu }}'/>

  <!-- HTTP Server -->
  <allow v='{{ fah_allow_cidr }}'/>

  <!-- Remote Command Server -->
  <password v='PASSWORD'/>

  <!-- Slot Control -->
  <power v='{{ fah_power }}'/>
  <smp value='{{ fah_smp }}'/>
  <gpu value='{{ fah_gpu }}'/>
  
  <!-- User Information -->
  <team v='{{ fah_team }}'/>
  <user v='{{ fah_user }}'/>
  
  <!-- Web Server -->
  <web-allow v='{{ fah_allow_cidr }}'/>
  
  <!-- Folding Slots -->
  <slot id='0' type='CPU'/>
</config>